
.login{
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
}
.login .form-container{
    min-width: 400px;
    height: 500px;
    padding: 30px;
    background-color: var(--lighterdirty-whiter);
    box-shadow: 1px 3px 11px 2px rgba(0,0,0,0.46);
   
}

.form-container h1{
    text-align: center;
    margin-bottom: 40px;
    font-weight: 200;
}
.login .form-control{
    margin-bottom:30px;
}
.login .form-control input{
    width:100%;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;

}
.form-control input:focus{
    outline: none;
}


.signup-btn{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--dark2-purple);
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
small{
    font-size: 11px;
    
}
small a{
    text-decoration: none;
    color: var(--dark2-purple);
}
.passterms{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   margin-top: -10px;
   margin-bottom: 50px;
   
}
.passterms input{
    margin-right: 5px;
    
}

.passterms a{
    text-decoration: none;
    font-size: 11px;
    color:var(--dark2-purple);
}
.userlink{
    text-align: center;
    max-width: 200px;
    margin: auto;
}


@media only screen and (max-width: 620px){
    
    .form-container h1{
        font-size: 25px;
        margin-bottom: 25px;
    }
    .passterms{
        margin-bottom: 40px;
     }

    
}
@media only screen and (max-width: 420px), (orientation: landscape){
 
    .login{
        width: 100%;
        height: 100%;
        min-height: 100vh;
        min-height: calc(100vh - 80px);
        padding: 20px 0;
     
    }
    .login .form-container{
        min-width: 350px;
        height: 100%;
        max-height: 450px;
        
    }


}
@media only screen and (max-width: 375px) {
    .login .form-container{
        min-width: 300px;
    }
}

