.learn-container{
    background: linear-gradient(to right,#B145FF,#7C20BE,#460873);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 70px 0 55px;
}
.learn-image{
    width: 500px;

}
.learn-image img{
    width: 100%;
}
.learn-header{
    color: #fff;

}
.learn-header h1{
    font-size: 56px;
    font-weight: 200;
    width: 550px;
    margin-bottom: 25px;
}
.learn-header p{
    font-size: 20px;
    font-weight: 100;
    width: 450px;
    line-height: 1.6;
}
.join{
    padding: 15px 40px;
    background-color: #71CBF7;
    color: #fff;
    border: none;
    margin-top: 15px;
    outline: none;
    font-size: 16px;
    border-radius: 15px;
    transition: all 0.7s ease;
    
}
.join:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #71CBF7;
    border: 2px solid #71CBF7;
    cursor: pointer;
}
@media only screen and (max-width: 1000px){
    .learn-container{
        justify-content: space-evenly;
        padding: 40px 25px 35px;
        gap: 0;
    }
    .learn-header h1{
        font-size: 46px;
        width: 450px;
     
    }
    .learn-header p{
        font-size: 18px;
        width: 350px;
        
    }
}
@media only screen and (max-width: 890px){

    .learn-container{
        flex-direction: column;
       
    }
    .learn-header h1{
        font-size: 46px;

    }
    

}
@media only screen and (max-width: 600px){
    .learn-header p{
        margin: auto;
         
    }
     .learn-header h1{
        font-size: 46px;
        width: 450px;
        margin: auto;
    }
    .learn-container{
    
        text-align: center;
    }


}
@media only screen and (max-width: 500px){
    .learn-image{
        width: 400px;
    
    }
    .join{
        padding: 15px 80px;
        margin: 15px 0 40px;
        font-size: 14px;
        border-radius: 15px;
    }
    .learn-header p{
        font-size: 16;
        width: 310px;
         
    }
     .learn-header h1{
        font-size: 36px;
        width: 300px;
        margin:25px auto 15px ;
    }


}
@media only screen and (max-width: 420px){
    .learn-image{
        width: 300px;
    
    }
}