.learncards-container{
    background-color: #fff;
    margin: 60px 0;
}
.learncards-container>div{
    background-color:rgba(240, 242, 247, 0.5) ;
    backdrop-filter: blur(5px);
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #2c093a;
    border-radius: 30px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.cardheadtext{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 20px; 
    width: 100%;
    height: 200px;
    background-image: url(../Media/Is_Cryptocurrency_Mining_From_Home_Worth_It_2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.cardheadtext span{
    font-size: 28px;
}
.cardlearn{
    background-color: #fff;
    max-width: 350px;
    min-height: 500px;
    box-shadow: 0 3px 11px rgba(0,0,0,0.2);

}
.cardlearn p{
    padding: 0 45px 20px;
    line-height: 1.6;
    font-size: 14px;
}
.cardtext{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 1050px){
    .learncards-container>div{
        grid-template-columns: repeat(2, 1fr);
       
    }

}
@media only screen and (max-width: 800px){


}
@media only screen and (max-width: 780px){

    .cardlearn{
        background-color: #fff;
        max-width: 300px;
        /* min-height: 500px; */
    
    }
}
@media only screen and (max-width: 640px){
    .cardlearn{
        background-color: #fff;
        max-width: 450px;
        min-height: 500px;
    
    }
    .learncards-container>div{
        grid-template-columns: 1fr;
       
    }
}
@media only screen and (max-width: 500px){
    .cardlearn p{
        padding: 0 20px 20px;
    }
    .cardtext{
        gap: 5px;
      
    }

}