:root{
    --light-purple: #B145FF;
    --dark-purple:#7C1FBF;
    --dark2-purple:#7C20BF;
    --darkest-purple: #470A73;
    --darkest2-purple:#460873;
    --blackish-purple: #29082B;
    --greyish-purple: #26093A;
    --baby-pink: #FFB9B9;
    --green-arrows: #11FF00;
    --deep-green:#043B1B;
    --red-arrows: #FF0000;
    --white:#FFFFFF;
    --dirty-white:#F2F2F2;
    --lighterdirty-whiter: #F7F7FA;
    --dark-grey:#707070;
    --light-grey:#edebeb;
    --charcoal-black: #2F2E41;
    --deep2_grey:#535461;
    --deep-grey: #3F3D56;
    --bluish-grey:#575A89;
    --black: #000000;
}
.login{
    height: 90vh;
    display: grid;
    place-items: center;

}
.log-form{
    width: 500px;
    padding: 65px 50px;
    background-color: var(--lighterdirty-whiter);
    height: 80vh;
    box-shadow: 1px 3px 11px 2px rgba(0,0,0,0.46);
}
.log-form h1{
    text-align: center;
    margin-bottom: 80px;
    font-weight: 200;
}
.form-control{
    margin-bottom:20px;
}
.form-control input{
    width:100%;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;

}
.form-control input:focus{
    outline: none;
}


.signup-btn{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--dark2-purple);
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
small{
    font-size: 11px;
    
}
small a{
    text-decoration: none;
    color: var(--dark2-purple);
}
.passterms{
   display: flex;
   justify-content: space-between;
   align-items: center; 
   margin-top: -10px;
   margin-bottom: 100px;
   
}
.passterms input{
    margin-right: 5px;
    
}

.passterms a{
    text-decoration: none;
    font-size: 11px;
    color:var(--dark2-purple);
}
.userlink{
    text-align: center;
    max-width: 200px;
    margin: auto;
}


@media only screen and (max-width: 620px){
    .log-form{
        width: 400px;
        padding: 20px 35px;
        height: 50vh;
    }
    .log-form h1{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .passterms{
        margin-bottom: 40px;
     }

    
}
@media only screen and (max-width: 420px){
    .log-form{
        width: 300px;
        padding: 20px 20px;
    }


}
