:root{
    --light-purple: #B145FF;
    --dark-purple:#7C1FBF;
    --dark2-purple:#7C20BF;
    --darkest-purple: #470A73;
    --darkest2-purple:#460873;
    --blackish-purple: #29082B;
    --greyish-purple: #26093A;
    --baby-pink: #FFB9B9;
    --green-arrows: #11FF00;
    --deep-green:#043B1B;
    --red-arrows: #FF0000;
    --white:#FFFFFF;
    --dirty-white:#F2F2F2;
    --lighterdirty-whiter: #F7F7FA;
    --dark-grey:#707070;
    --light-grey:#edebeb;
    --charcoal-black: #2F2E41;
    --deep2_grey:#535461;
    --deep-grey: #3F3D56;
    --bluish-grey:#575A89;
    --black: #000000;
}



.start-form{
    width: 500px;
    padding: 20px 50px;
    background-color: var(--lighterdirty-whiter);
    
    
}
.start h1{
    text-align: center;
    font-weight: 200;
}
.form-control{
    margin-bottom:20px;
}
.form-control input{
    width:100%;
    padding: 10px 20px;
    border-radius: 8px;
    border: .7px solid #f3f0f0;

}
.form-control input:focus{
    outline: none;
}
.select-type{
    width:400px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    border-radius: 8px;
    background-color: #f3f0f0;


}
.select-type a{
    padding: 10px 20px;
    border: none;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    width:100%;
}
.select-type a.active{
    background-color: var(--white);
}


.submit{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--dark2-purple);
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
small{
    font-size: 11px;
    
}
small a{
    text-decoration: none;
    color: var(--dark2-purple);
}
.terms{
    margin-top: -10px;
    max-width: 300px;
    margin-bottom: 50px;
}
.userlink{
    text-align: center;
    max-width: 200px;
    margin: auto;
}
.start{
    display: grid;
    height: 90vh;
    place-items: center;
}
@media only screen and (max-width: 620px){
    .start-form{
        width: 350px;
        padding: 20px 35px;
    }
    .terms{
        margin-top: -10px;
        margin-bottom: 25px;
    }
    .start{
        height: 80vh;
       margin-top: 20px;
        
       
    }
    .select-type{
        width:300px;
    }
    .select-type a{
        padding: 10px 10px;
        font-size: 14px;
    }
    .start h1{
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px){
    .start-form{
        width: 300px;
        padding: 20px 20px;
    }

    .select-type{
        width:250px;
        margin-bottom: 15px;
        
    }
    .form-control{
        margin-bottom:10px;
    }
}

