.trade>div{
    max-width: 500px;
    margin: auto;
    background-color: #FBF8FD;
    padding: 70px 50px;
    box-shadow: 1px 3px 11px 2px rgba(0,0,0,0.46);
}
.trade{
    background-color: #fff;
    padding: 70px 0px;
}
.trade>div h1{
    font-weight: 200;
    color: #000000;
    margin-bottom: 25px;
    text-align: center;
}
.trade>div a{
    text-decoration: none;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
}
.trade>div a.active{
    background-color: #fff;
    border-radius: 8px;
}
.trade-type{
    width: 400px;
    background-color: #f3f0f0;
    display: flex;
    border-radius: 8px;
    margin: 30px auto;
}
.trade-control{
    margin-bottom: 40px;
}
.trade-control select, .trade-control input{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    border: .7px solid #f3f0f0;
    
}
.trade-control select, input:focus{
    outline:none;
  
}
.trade-control input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance:none;
}
.trade-control label{
    text-align: left;
    font-size: 14px;
}
.trade button{
    width: 100%;
    background-color: #7C20BF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
}
@media only screen and (max-width: 620px){
    .trade>div{
        width: 400px;
        padding: 20px 35px;
    }

    .trade-type{
        width:300px;
    }
    .trade>div h1{
        font-size: 18px;
    }
    .trade-control{
        margin-bottom: 20px;
    }
    .trade>div a{
        padding: 10px 10px;
        font-size: 14px;
        
    }
}
@media only screen and (max-width: 400px){
    .trade>div{
        width: 300px;
        padding: 20px 20px;
    }

    .trade-type{
        width:250px;
        margin-bottom: 15px;
        
    }
   
}
