
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 60px;
    margin: auto;
    position: relative;
    padding: 0 50px;
}
.navbar-container{
    max-width: 100%;
    background: linear-gradient(to right,#B145FF,#7C20BE,#460873);
    padding: 10px 0;
   
}
.mobilemenu{
    display: none;
}

.navlinks ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navlinks ul li{
    list-style: none;
}
.navlinks ul li a{
    text-decoration: none;
    color: var(--dirty-white);
    font-size: 14px;
    font-weight: 100;
}
.navlinks ul li .btn{
    height: 45px;
    width: 150px;
    margin-left: 1.5rem;
    border-radius: 5px;
}
.navlinks ul :nth-child(2){
    margin-left: 3.2rem;
}
.navlinks ul li .btn-trans{
    border: 1px solid var(--dirty-white);
    color: var(--dirty-white);
    background-color: transparent;
    
}


@media only screen and (max-width: 900px){
    .mobilemenu{
        display: flex;
        
    }
    .navlinks ul{
       flex-direction: column;
       position: absolute;
       top: 60px;
       left: 0;
       z-index: 100;
    
    }
  
    .navlinks ul li a, .btn{
        color:#fff;
        line-height: 2;
        margin-bottom: 15px;
    }
    .navlinks{
        /* text-align: center; */
        display: flex;
        
    }
    .navlinks ul{
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        padding: 20px;
        
        width: 100%;
        padding-left: 20px;
    }
    .navlinks ul li .btn-trans{
        background-color:#7C20BE;
        border: 1px solid white;
        font-weight: 200;
        color:#fff ;
        border: none;
    
    }
    .navlinks ul :nth-child(2){
        margin-left: 0;
    }
    .navlinks ul li .btn{
        margin-left: 0;
        
    }
    .desktopmenu{
        display: none;
    }
    .link{
        display: block;
    }
    .trade-link{
        margin-bottom: 10px 
    }
    .learn-link{
        margin-bottom: 20px
    }
}
@media only screen and (max-width: 650px){
    .navbar{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 600px){
   
    .logo{
        width: 100px;
    }
        
}
