.copyright-wrapper{
    background-color: #f2f2f2;
    width: 100%;
    height: 40px;
    display: grid;
    place-items: center;
}
.copyright-wrapper div{
    max-width: 300px;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    background-color: #fff;
    color: #26093A;
    padding: 50px;
}
.footer-links p{
    font-size: 16px;
    margin-bottom:10px ;
}
.footer-links ul li{
    list-style: none;
    font-size: 13px;
    line-height: 1.7;
    white-space: nowrap;
}
.social-media img{
    margin-right: 20px;
}

@media only screen and (max-width: 690px){
    .footer-links{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 520px){
    .footer-links{
        grid-template-columns: repeat(2, 1fr);
    }
}
